/* global css section */
*{
	margin: 0;
	padding: 0;
}
body{
	box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif; */
h1,h2,h3,h4,h5,h6,p,span,input,button{
	font-family: 'Poppins', sans-serif;
}

/*header section css*/

header{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
	background: white;
}
.btn-outline-success{
    background: #2500f9;
    color: white;
    font-weight: 700;
    padding: 16px 42px;
    border: none;
    border-radius: 35px;
}
.btn-outline-success:hover{
	background: #feaa25;
}
.nav-link{
	font-weight: 600;
}
.navbar-nav{
	margin-right: 24px;
}
.nav-item{
	margin: 0 10px;
}
/*banner section css*/

.banner{
	width: 100%;
	padding-top: 80px;
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.designs{
	margin-top: 120px;
}
.btn-outline-danger{
    background: transparent;
    color: #2500f9;
    font-weight: 700;
    padding: 16px 42px;
    border: none;
    border-radius: 35px;
}
.btn-outline-danger:hover{
	background: #feaa25;
}
.banner h1{
	font-weight: 600;
	font-size: 60px;
	margin: 20px 0px;
	color: #242f51;
}
.banner p{
	font-weight: 400;
	font-size: 18px;
	margin-right: 60px;
	margin-bottom: 35px;
	color: #616368;
}
.banner-badge{
	background: #e2eaed;
    display: inline-block;
    padding-right: 20px;
    border-radius: 35px;
}
.banner-badge span{
	font-size: 18px;
    font-weight: 400;
}
.banner-badge span i{
	height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #feaa25;
    border-radius: 50%;
    color: white;
}

/*company-logo section css*/

.company-logo{
	width: 100%;
	padding: 60px 0px;
	text-align: center;
}
.company-logo h6{
	font-weight: 400;
	font-size: 18px;
}
.owl-carousel .owl-item img{
	display: inline-block;
	width: auto;
}
.owl-stage{
	display: flex;
	align-items: center;
}
.owl-theme .owl-dots, .owl-theme .owl-nav{
	display: none;
}

/*feature section css*/
.feature{
	width: 100%;
	padding: 70px 0px;
}
.feature .right h2{
	font-size: 36px;
    font-weight: 600;
    margin-right: 100px;
    margin-bottom: 16px;
    
    color: #242f51;
}
.feature .right p{
	font-size: 16px;
    font-weight: 400;
    margin-right: 50px;
    color: #616368;
}
.right-list{
    margin-top: 85px;
}
.right-list h4, .items h4{
	font-size: 20px;
	font-weight: 600;
	color: #f55767;
}
.right-list p{
	margin-right: 90px !important;
}
.item-1{
	margin-bottom: 42px;
}
.item-2{
	margin-bottom: 42px;
}
.item-2 h4{
    color: #2563ff;
}
.item-3 h4{
    color: #40975f;
}

/*promotion section css*/

.promotion{
	width: 100%;
	padding: 60px 0px;
}
.promotion .left{}
.promotion .right{
	border-left: 1px solid black;
}
.promotion .left h1{
	margin: 0px 105px;
	color: #242f51;
	font-weight: 600;
	font-size: 40px;
}
.promotion .right p{
	font-size: 16px;
    font-weight: 400;
    margin: 28px 83px;
    color: #616368;
}

/*feature-1 section css*/

.feature-1{
	width: 100%;
	padding: 55px 0px;
}
.items p{
	font-size: 16px;
    font-weight: 400;
    margin-right: 115px;
    color: #616368;
}

/*integration section css*/

.integration{
	width: 100%;
	padding: 60px 0px;
    border-bottom: 1px solid #e2e2e2;
}
.integration h3{
	font-weight: 600;
	font-size: 36px;
	margin-right: 250px;
	margin-bottom: 25px;
	color: #242f51;
}
.integration p{
	font-size: 16px;
    font-weight: 400;
    margin-right: 200px;
    margin-bottom: 25px;
    color: #616368;
}
.design{
	margin-top: 100px;
}

/*why us section css*/

.why-us{
	width: 100%;
	padding: 90px 0px;
	text-align: center;
}
.upper{
	margin-bottom: 55px;
}
.upper h1{
	font-weight: 600;
	font-size: 36px;
	color: #242f51;
	margin: 25px 400px;
}
.upper p{
    font-size: 16px;
    font-weight: 400;
    margin: 0px 320px;
    color: #616368;
}
.us-item h4{
	font-weight: 600;
	font-size: 20px;
	color: #242f51;
}
.us-item p{
	font-size: 16px;
    font-weight: 400;
    margin: 12px 60px;
    color: #616368;
}

/*feature-2 section css*/

.feature-2{
	width: 100%;
	padding: 90px 0px;
}
.feature-2 h2{
	font-weight: 600;
	font-size: 36px;
	color: #242f51;
	margin-right: 300px;
}
.feature-2 p{
	font-size: 16px;
    font-weight: 400;
    color: #616368;
    margin-right: 200px;
}
.left-list h4{
	font-weight: 600;
	font-size: 20px;
	color: #242f51;
}
.left-list p{
	font-size: 16px;
    font-weight: 400;
    color: #616368;
    margin-right: 45px;
}

/*pricing section css*/

.pricing{
	width: 100%;
	padding: 65px 0px;
	text-align: center;
	border-bottom: 1px solid #e2e2e2;
}
.pricing .title{
	width: 50%;
    margin: 0 auto;
}
.pricing .title h2{
	font-weight: 600;
	font-size: 36px;
	color: #242f51;
}
.pricing .title p{
	font-size: 16px;
    font-weight: 400;
    color: #616368;
}
.price-selector{
	border: 2px solid #ebebeb;
    display: inline-block;
    border-radius: 35px;
    padding: 4px;
}
.price-selector button{
	border: none;
    padding: 14px 42px;
    color: #8f9194;
    border-radius: 42px;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
}
.select{
	background: #2501f9 !important;
    color: white !important;
}
.table-1{
	border: 2px solid #ebebeb;
    border-radius: 10px;
}
.table-1{
	padding: 0 !important;
}
.table-head{
	background: #f4f7f9;
    padding: 42px;
}
.table-head{
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
}
.table-head h1{
	font-size: 60px;
    font-weight: 600;
    color: #242f51;
}
.table-head h1 span{
	font-size: 18px;
    font-weight: 400;
    color: #999ca5;
}
.table-head h5{
	font-size: 20px;
    font-weight: 600;
    color: #242f51;
}
.table-head p{
	color: #999ca5;
	font-size: 16px;
	font-weight: 400;
}
.table-body ul{
	margin: 0;
	padding: 0;
}
.table-body ul li{
	list-style: none;
	padding: 12px 0px;
	color: #999ca5;
	font-weight: 400;
	font-size: 16px;
}
.table-body ul li:nth-child(1){
	padding-top: 32px;
	padding-bottom: 12px;
}
.table-selected .table-1{
	box-shadow: -2px 6px 22px rgb(0 0 0 / 10%);
	border: none;
}

/*testimonial section css*/

.testimonial{
	width: 100%;
	padding: 100px 0px;
}
.testimonial-head, .testimonial-body{
	margin-left: 10px;
}
.testimonial-head h1{
	font-size: 40px;
    font-weight: 600;
    color: #242f51;
    width: 85%;
}
.testimonial-head p{
	color: #999ca5;
	font-size: 16px;
	font-weight: 400;
	width: 84%;
}
.testimonial-head i{
	color: #ffcc00;
	font-weight: 400;
	font-size: 20px;
}
.testimonial-head h6{
	font-size: 20px;
    font-weight: 600;
    color: #242f51;
}
.user-text{
	display: inline-block;
    vertical-align: middle;
}
.user-body h6{
	display: inline-block;
    margin-left: 15px;
    font-weight: 700;
    font-size: 18px;
}
.user-body h6 span{
	display: block;
	margin-top: 5px;
	font-weight: 400;
    font-size: 18px;
    color: #86878a;
}

/*faq section css*/

.faq{
	width: 100%;
	padding: 60px 0px;
	text-align: center;
	border-bottom: 1px solid #e2e2e2;
}
.faq h1{
	font-size: 40px;
    font-weight: 600;
    color: #242f51;
}
.faq p{
	color: #999ca5;
	font-size: 16px;
	font-weight: 400;
	width: 50%;
    margin: auto;
}
.accordion-button::after{
	background-image: none;
	content: '\f067';
	font-family: FontAwesome;
}
.accordion-button:not(.collapsed)::after{
	background-image: none;
	content: '\f068';
	font-family: FontAwesome;
	transform: rotate(180deg);
}
.accordion-button{
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #242f51 !important;
}
.accordion-button {
	margin-bottom: 10px !important;
    border: none !important;
    background-color: #f5f7fa;
}
.accordion-body{
	background: #f5f7fa;
	color: #242f51;
	margin-bottom: 10px
}

 /*trail section code*/

.trail{
 	width: 100%;
 	padding: 10px 0px;
}
.apps{
 	display: table-cell;
    vertical-align: middle;
    height: 35vh;
}
.trail h1{
 	font-size: 48px;
    font-weight: 600;
    color: #242f51;
}
.trail p{
 	color: #999ca5;
	font-size: 16px;
	font-weight: 400;
}

 /*footer section css*/

.footer{
 	width: 100%;
 	padding: 100px 0px;
 	text-align: center;
 	background: #09142e;
 }
.footer-nav{
	margin-top: 32px;
}
.footer-nav ul{
	margin: 0;
	padding: 0;
}
.footer-nav ul li a{
 	list-style: none;
 	text-decoration: none;
 	color: #ffffff;
 	margin-left: 25px;
 	font-size: 16px;
 	font-weight: 400;
}
.footer-nav ul li{
 	display: inline-block;
}
.footer-icon{
	margin-top: 32px;
}
.footer-icon ul{
	margin: 0;
	padding: 0;
}
.footer-icon ul li{
	list-style: none;
	display: inline-block;
	margin-left: 22px;
	font-size: 35px;
    font-weight: 400;
}
.footer-icon ul li a i{
	color: #273043;
}
.footer p{
	color: #273043;
	font-weight: 400;
	font-size: 14px;
}